<h1>Task 1</h1>
<div class="container">
  <button type="button" (click)="openBackDropCustomClass(content)" class="btn btn-dark">Create</button>
  <table class="table table-hover table-dark">
      <thead>
          <tr>
              <th scope="col">

                      <input type="checkbox"
                      (change)="CheckAllProduct($event)">

                </th>
              <th scope="col">Code</th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Category</th>
              <th scope="col">

              </th>
          </tr>
      </thead>
      <tbody>

          <tr *ngFor="let product of allproduct">
            <td>
                <input type="checkbox" [checked]="CheckProduct"
                (change)="handleClick($event,product)">

            </td>
              <td>{{product.code}}</td>
              <td>{{product.name}}</td>
              <td>{{product.price}}</td>
              <td>{{product.Categoryid | ShowName}}</td>
             

              <td>
                  <button type="button" (click)="openBackDropCustomClass(content,product)" class="btn btn-dark">Edit</button>
              </td>
          </tr>


      </tbody>
  </table>
  <button type="button" [disabled]="deleteproduct.length==0" (click)="RemoveProduct()" class="btn btn-dark">Delete</button>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 *ngIf="isEdit== false" class="modal-title">New Product</h4>
    <h4 *ngIf="isEdit == true" class="modal-title">Edit Product</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="ProductForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
      <div class="form-group">
        <label for="codeInput">Code</label>
        <input type="text"  formControlName="codeControl" class="form-control" [(ngModel)]='ProductModel.code' id="codeInput"  placeholder="Enter Code">

        <div class="form-control-feedback" *ngIf="(ProductForm.get('codeControl').invalid && ProductForm.get('codeControl').dirty)||(ProductForm.get('codeControl').invalid && ProductForm.get('codeControl').touched)">
            <p *ngIf="ProductForm.get('codeControl').errors['required']"> Code is Required</p>
          </div>
      </div>
      <div class="form-group">
        <label for="nameInput">Name</label>
        <input type="text" formControlName="nameControl" class="form-control" [(ngModel)]='ProductModel.name' id="nameInput" placeholder="Enter Name">
        <div class="form-control-feedback" *ngIf="(ProductForm.get('nameControl').invalid && ProductForm.get('nameControl').dirty)||(ProductForm.get('nameControl').invalid && ProductForm.get('nameControl').touched)">
            <p *ngIf="ProductForm.get('nameControl').errors['required']"> Name is Required</p>
          </div>
      </div>
      <div class="form-group">
        <label for="PriceInput">Price</label>
        <input type="number" formControlName="PriceControl" class="form-control" [(ngModel)]='ProductModel.price' id="PriceInput" placeholder="Enter Price">
        <div class="form-control-feedback" *ngIf="(ProductForm.get('PriceControl').invalid && ProductForm.get('PriceControl').dirty)||(ProductForm.get('PriceControl').invalid && ProductForm.get('PriceControl').touched)">
            <p *ngIf="ProductForm.get('PriceControl').errors['required']"> Price is Required</p>
          </div>
      </div>

      <div class="form-group">
          <label for="nameInput"> Category</label>
            <select formControlName="Category" class="form-control" [(ngModel)]='ProductModel.Categoryid'>
                <option [ngValue]="0">Select</option>
                <option *ngFor="let cat of Allcategory" [ngValue]="cat.id">{{cat.categoryName}}</option>
              </select>
        </div>
  </div>
  <div class="modal-footer">
      <button type="submit" [disabled]="ProductForm.invalid"  class="btn btn-primary">Submit</button>
  </div>
</form>
</ng-template>

